body{
    background-image: linear-gradient(to top, rgb(255, 255, 0), rgb(0, 0, 255));
    padding: 5px 10px 20px 5px;
}
#logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5em;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 15px;
    background-color: rgb(212, 255, 0);
    border-radius: 45px;
}
p{
    border: solid hsl(36, 56%, 36%);
    border-radius: 25px;
    border-width: 5px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
a[href]{
    color: rgb(4, 150, 150);
}
a:hover{
    color: #ff0000;
}
input:focus{
    background: #300ec5;
    border-radius: 34px
}

textarea:focus{
    background: rgb(155, 115, 159);
    border-color: rgb(100, 66, 131);
    border-radius: 3%;
}
h2::selection{
    color: rgb(23, 215, 74);
    background: 000000;
}
h1::selection{
    color: rgb(26, 68, 68);
    background-color: blanchedalmond;
}
img[ttitle="Смотровая площадка парка им. Шевченко"]{
    width: 65rem;
}
p{
    background-image: linear-gradient(rgb(0, 0, 255), transparent),
    linear-gradient(120deg, yellow, transparent);
}